// Colors
$color-primary: #1890ff;
$color-white: #ffffff;
$color-green-light: #f6ffed;
$color-green-dark: #52c41a;
$color-red-light: #fff1f0;
$color-red-dark: #ff4d4f;
$color-gray-10: #fafafa;

// Shadows
$shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);